<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>

    <h1>Notes</h1>
    
    <ul>
    <% notes.forEach(note => { %>
        <li>
            <h2><%= note.title %></h2>
            <p><%= note.contents %></p>
            <form action="/delete/<%=note.id%>" method="post">
                <button type="submit">Delete</button>
            </form>
        </li>
    <% }) %>
    </ul>


    <a href="/createNew">Make New</a>
</body>
</html>